* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100%;
  background-color: #F4F0EB;
  font-family: Arial, sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}